div.navigation {
    display: flex;
}

div.title {
    color: #ebebeb;
    background-color: rgba(27, 52, 102, 0.8);
    border: 1px solid #484848;
    height: 34px;
    width: 340px;
    padding: 7px;
    text-align: center;
}
