@import '../../../theme.scss';

:host {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 362px;
    min-height: 184px;
    padding: 6px;

    top: 50px;
    left: 50px;
}

div.shader {
    position: absolute;
    // width: 100%;
    // height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url("../../../assets/img/x1/crt_shader.png");
}

div.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $pb-primary;
    border-top: transparent;
    border-bottom: transparent;
}

div.content {

}

div.tr {
    display: flex;
    margin: 0 -1px 0 -1px;


    div.title {
        color: #bed8e1;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        padding: 0 8px 0 8px;
        min-width: 48px;
        height: 4px;
        overflow: show;

        margin-top: -7px;
    }

    div.bar {
        border-top: 3px solid $pb-primary;
        flex-grow: 1;
    }
}

div.br {
    margin: 0 -1px 0 -1px;

    div.bar {
        height: 4px;
        border-bottom: 3px solid $pb-primary; 
    }
}

// div.mr {
//     display: grid;
//     grid-template-columns: 64px 1fr 64;
//     grid-template-rows: 1fr;
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     // padding-left: 32px; padding-right: 32px;

//     div.content {
//     }

//     div.lbar {
//         width: 31.5px;
//         border-right: 1px solid red;
//     }

//     div.rbar {
//         width: 32px;
//         border-left: 1px solid red;
//     }
// }

// div.br {

// }
