[submodule "src/assets"]
	path = src/assets
	url = https://github.com/PRIM-EDV/rld-assets
[submodule "src/app/core"]
	path = src/app/core
	url = https://github.com/PRIM-EDV/rld-core
[submodule "src/app/situation-map/components/map"]
	path = src/app/situation-map/components/map
	url = git@github.com:PRIM-EDV/rld-map.git
