<div class="backdrop">
    <!-- <div class="dangerbar" style="top:0">
        <div style="flex-grow:1; background: repeating-linear-gradient(45deg, rgba(0,0,0,1), rgba(0,0,0,1) 20px,rgba(0,0,0,0.0) 20px, rgba(0,0,0,0.0) 40px);"></div>
    </div> -->
    <div class="content">
        <div class="header">{{header}}</div>
    
        <div class="message">{{message}}</div>
    
        <div class="error">
            ERROR CODE: 0x0000D1F4<br>
    ERROR TYPE: CRITICAL POWER FAILURE
        </div>
    </div>
    <!-- <div class="dangerbar" style="bottom:0">
        <div style="flex-grow:1; background: repeating-linear-gradient(45deg, rgba(0,0,0,1), rgba(0,0,0,1) 20px,rgba(0,0,0,0.0) 20px, rgba(0,0,0,0.0) 40px);"></div>
    </div> -->
</div>
