<div class="backdrop">
    <div class="phoenix" style="z-index: -2;"></div>
    <div class="content">
        <div class="dangerbar" style="padding-bottom: 24px; border-bottom: 2px solid rgba(222, 4, 0 ,1);">
            <div class="stripes"></div>
        </div>
        <div class="header">{{header}}</div>
    
        <div class="message"><img src="../../assets/img/warning.svg" /><span>{{message}}</span></div>
        <div class="dangerbar" style="padding-top: 24px; border-top: 2px solid rgba(222, 4, 0 ,1);">
            <div class="stripes"></div>
        </div>
    </div>

</div>
