div#popup-menu {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 100px;
    left: 100px;

    background-color: #151515;
    // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

    div.title {
        color: #dddddd;
        font-family: 'roboto';
        font-size: 14px;

        height: 24px;
        min-width: 420px;
        background-color: #2d2d2d;
        padding: 3px 8px 3px 8px;
        text-align: center;

        user-select: none;
    }

    .active {
        display: block;
    }

    .in-active {
        display: none;
    }
}