div.app-bar {
    background-color: #0d0d0d;
    display: flex;
    height: 24px;
    border-bottom: solid 1px #7e7d7d;
    color: #7e7d7d;

    line-height: 24px;
    font-family: 'Fira Code';
    font-size: 12px;
    font-weight: 400;

    padding-left: 2px;
}

@media (min-resolution: 2dppx) {
    div.app-bar { border-bottom: solid 0.5px #7e7d7d };
}