div.button {
    background-image: repeating-linear-gradient(180deg, rgba(27, 52, 102, 0.8), rgba(27, 52, 102, 0.8) 1px, rgba(27, 52, 102, 0.4) 1px, rgba(27, 52, 102, 0.4) 2px);
    // clip-path: polygon(100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 0);
    color: #ebebeb;
    height: 28px;
    width: 92px;
    text-align: center;
    line-height: 28px;
}