<div class="content">
    <ph-window>
        <div class="login">
            <div class="inputs">
                <div class="label">Username</div>
                <div class="label" >:</div>
                <div class="label"></div>
                <div class="label">Password</div>
                <div class="label" >:</div>
                <div class="label"></div>
            </div>
            <div class="spacer" style="flex-grow: 1;"></div>
            <div class="divider"></div>
            <ph-button-list>

            </ph-button-list>
            <div style="height: 12px">

            </div>
        </div>
    </ph-window>
</div>