<div class="dashboard">
    <ph-topbar style="grid-row: 1; grid-column: 2;">
        <ph-topbar-header [title]="view" [subtitle]="tab"></ph-topbar-header>
        <ph-topbar-item [label]="'MAP'" (click)="this.tab='MAP'"></ph-topbar-item>
        <ph-topbar-item [label]="'SQUAD'" (click)="this.tab='SQUAD'"></ph-topbar-item>
    </ph-topbar>
    <ph-sidebar style="grid-row: 1 / 3; grid-column: 1;">
        <ph-sidebar-item>
            TACOP
        </ph-sidebar-item>
    </ph-sidebar>

    <div class="content">
        <div class="workspace">
            <ph-window *ngIf="this.tab == 'MAP'" [title]="'SITUATION MAP'" style="flex-grow: 1">
                <situation-map></situation-map>
            </ph-window>
            <ph-window *ngIf="this.tab == 'SQUAD'" [title]="'SQUADS'" style="flex-grow: 1">
                <squad></squad>
            </ph-window>
        </div>
    </div>
</div>
