<div class="content">
    <ph-drop-list [header]="'Unstaged'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.STATE_UNSTAGED)">
        <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.STATE_UNSTAGED)" [data]="squad">
            <div class="tag">{{squad.callsign}}</div>
            <div class="desc">{{squad.name}}</div>
        </ph-drop-list-item>
    </ph-drop-list>
    <ph-drop-list [header]="'Ready'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.STATE_READY)">
        <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.STATE_READY)" [data]="squad">
            <div class="tag">{{squad.callsign}}</div>
            <div class="desc">{{squad.name}}</div>
        </ph-drop-list-item>
    </ph-drop-list>
    <ph-drop-list [header]="'QRF Ready'"style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.STATE_QRF_READY)">
        <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.STATE_QRF_READY)" [data]="squad">
            <div class="tag">{{squad.callsign}}</div>
            <div class="desc">{{squad.name}}</div>
        </ph-drop-list-item>
    </ph-drop-list>
    <ph-drop-list [header]="'In Field'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.STATE_IN_FIELD)">
        <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.STATE_IN_FIELD)" [data]="squad">
            <div class="tag">{{squad.callsign}}</div>
            <div class="desc">{{squad.name}}</div>
        </ph-drop-list-item>
    </ph-drop-list>
</div>