<div class="content">
    <div class="lists">
        <ph-drop-list [header]="'Unstaged'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.SQUAD_STATE_UNSTAGED)" (contextmenu)="openNewContextMenu($event, SquadState.SQUAD_STATE_UNSTAGED)">
            <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.SQUAD_STATE_UNSTAGED)" [data]="squad" (contextmenu)="openEditContextMenu($event, squad)">
                <div class="tag">{{squad.callsign}}</div>
                <div class="desc">{{squad.name}}</div>
            </ph-drop-list-item>
        </ph-drop-list>
        <ph-drop-list [header]="'Ready'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.SQUAD_STATE_READY)" (contextmenu)="openNewContextMenu($event, SquadState.SQUAD_STATE_READY)">
            <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.SQUAD_STATE_READY)" [data]="squad" (contextmenu)="openEditContextMenu($event, squad)">
                <div class="tag">{{squad.callsign}}</div>
                <div class="desc">{{squad.name}}</div>
            </ph-drop-list-item>
        </ph-drop-list>
        <ph-drop-list [header]="'QRF Ready'"style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.SQUAD_STATE_QRF_READY)" (contextmenu)="openNewContextMenu($event, SquadState.SQUAD_STATE_QRF_READY)">
            <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.SQUAD_STATE_QRF_READY)" [data]="squad" (contextmenu)="openEditContextMenu($event, squad)">
                <div class="tag">{{squad.callsign}}</div>
                <div class="desc">{{squad.name}}</div>
            </ph-drop-list-item>
        </ph-drop-list>
        <ph-drop-list [header]="'In Field'" style="flex-grow: 1;" [connectedLists]="connectedLists" (drop)="handleDrop($event, SquadState.SQUAD_STATE_IN_FIELD)" (contextmenu)="openNewContextMenu($event, SquadState.SQUAD_STATE_IN_FIELD)">
            <ph-drop-list-item *ngFor="let squad of this.getSquadsByState(SquadState.SQUAD_STATE_IN_FIELD)" [data]="squad" (contextmenu)="openEditContextMenu($event, squad)">
                <div class="tag">{{squad.callsign}}</div>
                <div class="desc">{{squad.name}}</div>
            </ph-drop-list-item>
        </ph-drop-list>
    </div>
    <!-- <div class="actions">
        <ph-button [isActive]="true" (click)="openSquadCreatePopup($event)">
            NEW
        </ph-button>
    </div> -->
</div>

<div class="overlay">
    <ph-context-menu #existingContextMenu>
        <ph-context-menu-item (click)="openSquadCreatePopup($event)">Edit</ph-context-menu-item>
        <ph-context-menu-item (click)="this.deleteSquad()">Delete</ph-context-menu-item>
    </ph-context-menu>

    <ph-context-menu #newContextMenu>
        <ph-context-menu-item (click)="openSquadCreatePopup($event)">New</ph-context-menu-item>
    </ph-context-menu>

    <squad-create-popup (create)="this.squadService.setSquad($event)"></squad-create-popup>
</div>