<div style="display: flex; margin: 8px 0 16px 0;">
    <div #slider class="slider">
            <div class="track">
                <div #bar class="bar"></div>
                <div class="dash" *ngFor="let v of tickValues;let i = index">
                    <div class="tick-value">
                            {{v}}
                    </div>
                </div>
            </div>
        <div #handle class="handle">&nbsp;</div>
    </div>
    <div class="value">
        {{value}}
    </div>
</div>

<!-- <div class="ticks">
    <div class="tick-value" *ngFor="let v of tickValues;let i = index">
        {{v}}
    </div>
</div> -->