<rld-map (onTerrainContextMenu)="openContextMenu($event)" (onEntityContextMenu)="openEntityContextMenu($event)" (onEntityMoved)="handleEntityMoved($event)"></rld-map>

<div class="overlay">
    <div class="warning" [ngClass]="{'disabled': this.backend.isConnected}">
        <div class="message">
            SERVICE DISCONNECTED
        </div>
    </div>
    <ph-context-menu #terrainContextMenu>
        <ph-context-menu-item (click)="openUnitCreateMenu()">
            New...
        </ph-context-menu-item>
    </ph-context-menu>

    <ph-context-menu #entityContextMenu>
        <ph-context-menu-item (click)="openEntityEditMenu()"> Edit</ph-context-menu-item>
        <ph-context-menu-item (click)="deleteEntity()">Delete</ph-context-menu-item>
    </ph-context-menu>

    <create-popup (create)="createEntity($event)"></create-popup>
    <edit-popup (edit)="editEntity($event)"></edit-popup>
</div>