<div class="login">
    <!-- <div class="heading">LOGIN</div> -->
    <!-- <div class="content">
        <div style="width: calc(100% - 24px); margin: 12px 12px 0 12px">
            <ph-input [name]="'USERNAME'"></ph-input>
            <ph-input [name]="'PASSWORD'"></ph-input>
        </div>
        <div style="align-self: flex-end;margin-top: 4px; margin-bottom: 12px; margin-right: 12px;">
            <ph-button>SIGN IN</ph-button>
        </div>
    </div> -->
    <ph-window title="LOGIN">
        <div class="content">
            <ph-input label="USERNAME"></ph-input>
            <ph-input label="PASSWORD"></ph-input>
        </div>
    </ph-window>
</div>